body, div, h1, h2, h3, p, button, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #ffffff;
    background-color: #081D39;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px;
    margin-bottom: 40px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Adjust the gap as needed */
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

label {
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    background-color: #138496;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #138496;
    color: #ffffff;
    transform: scale(1.05);
}

span{
    font-size: xx-small;
    font-weight: 800;
}

@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 20px;
    }

    .logo {
        width: 150px;
        margin-bottom: 20px;
    }

    label {
        font-size: 18px;
    }

    input {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .logo {
        width: 150px;
        margin-bottom: 20px;
    }

    .form-container {
        width: 90%;
        padding: 20px;
    }

    label {
        font-size: 18px;
    }

    input {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }
}
