/*#root {
  /*max-width: 100%;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;
  background-color: #081D39;
}*/
body {
  line-height: 1.5;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background: #081D39;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input-container{
  margin-top: 20px;
}

.uploadButton {
  background-color: #61C1BF; /* Teal as per the logo accent */
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  margin-top: 20px;
  margin-left: 20px;
}


.image-preview-container {
  /*display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;*/
  border: none;
  

}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top:10px;


}



.add-button {
    
    
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    /*display: flex;*/
    
   
    overflow: hidden;
  
}
